:root {
  --base: #fcbe00;
  --base-2: #212121;
  --web-primary: #fcbe00;
  --web-primary-10: #fcbe0010;
  --web-primary-20: #fcbe0020;
  --web-primary-40: #fcbe0040;
  --web-secondary: #212121;
  --web-direction: ltr;
  --text-align-direction: left;
  --text-align-direction-alt: right;
}

.btn--primary {
  color: #fff;
  background-color: var(--web-primary) !important;
  border-color: var(--web-primary) !important;
}



/* customer sidebar */

.__customer-sidebar {
  padding: 20px 19px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(27, 127, 237, 0.1);
  box-shadow: 0px 9.0754146576px 18.1508293152px -2.7226247787px rgba(145, 158, 171, 0.05), 0px 0px 1.8150832653px 0px rgba(145, 158, 171, 0.2);
  position: sticky;
  top: 80px;
}

.__customer-sidebar .widget-title .active-menu {
  font-weight: 700;
  background: #f8f8fa;
}

.__customer-sidebar .widget-title a,
.__customer-profile {
  text-align: start;
  color: #9b9b9b;
}

.__customer-sidebar .widget-title {
  font-weight: 400;
  margin: 0;
}

.__customer-sidebar .widget-title a {
  text-transform: capitalize;
  padding: 6px 10px;
  font-size: 15px;
  display: block;
  display: flex;
  align-items: center;
  min-height: 40px;
  gap: 10px;
  border-radius: 5px;
}

.__customer-sidebar .widget-title a,
.__customer-profile {
  text-align: start;
  color: #9b9b9b;
}

/* end customer sidebar */



/* Start profile */
.profile--info {
  text-align: center;
}

.profile--info .profile-img {
  width: 125px;
  border-radius: 50%;
  margin: 0 auto 16px;
  border: 1px solid rgba(221, 221, 221, 0.4509803922);
}

.profile--info .profile-img img {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.change-profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--base);
  border: 1px solid #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.__customer-profile .card {
  border-color: rgba(20, 85, 172, 0.05);
}

.customer-profile-orders .status-badge {
  height: 25px;
  padding: 3px 15px 3px 15px;
  border-radius: 5px;
}

/* End Profile */


/* Card */
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.085);
  border-radius: 0.4375rem;
  box-shadow: 0 -5px 15px 0 rgba(20, 85, 172, 0.05) !important;
  border-color: rgba(20, 85, 172, 0.05);
}

.card-header {
  background-color: #fff;
  border: #ffffff;
}

/* End card */

.__badge[class*="soft-primary"] {
  color: #0286ff;
  background: rgba(2, 134, 255, 0.1);
}

/* Table */

.__table * {
  border-color: #eef6ff !important;
}

.__table-2 {
  border-spacing: 0 10px;
  border-collapse: separate;
}

.__table tbody {
  font-size: 14px;
}


.__table-2 tbody tr td:first-child {
  border-left: 1px solid #eef6ff !important;
  border-radius: 6px 0 0 6px;
}

.__table-2 tbody tr td {
  border-top: 1px solid #eef6ff !important;
  border-bottom: 1px solid #eef6ff !important;
  vertical-align: middle;
  padding-block: 1rem;
}

.__table tbody td {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e3e9ef;
}

.media-order {
  display: flex;
  align-items: flex-start;
  gap: 11px;
}

/* End Table */


/* btn */

.__btn-grp-sm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.__action-btn {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.btn-shadow {
  border: 1px solid rgba(76, 144, 236, 0.05);
  box-shadow: 0px 4px 5px rgba(20, 85, 172, 0.05);
}

.rounded-full {
  border-radius: 999px;
}

/* End btn */


.__badge[class="soft-success"] {
  color: #16b559;
  background: rgba(22, 181, 89, 0.1);
}

.__badge[class="soft-primary"] {
  color: #0286ff;
  background: rgba(2, 134, 255, 0.1);
}

.__badge[class="soft-danger"] {
  color: #ff6767;
  background: rgba(255, 103, 103, 0.1);
}



@media (min-width: 991.5px) {
  .__customer-profile .card {
    box-shadow: 0 -5px 15px 0 rgba(20, 85, 172, 0.05) !important;
    border-color: rgba(20, 85, 172, 0.05);
  }
}


@media (max-width: 991px) {
  #shop-sidebar {
    position: fixed;
    right: 0;
    left: auto;
    top: 0;
    width: 320px;
    max-width: 100%;
    height: 100%;
    z-index: 9999;
    border-radius: 0.5rem 0 0 0.5rem;
    transform: translateX(100%);
    transition: transform 200ms ease;
    background-color: #fff !important;
  }
}

@media screen and (max-width: 991px) {
  .__customer-sidebar {
    padding-top: 0;
  }
}

.__customer-sidebar {
  padding: 20px 19px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(27, 127, 237, 0.1);
  box-shadow: 0px 9.0754146576px 18.1508293152px -2.7226247787px rgba(145, 158, 171, 0.05), 0px 0px 1.8150832653px 0px rgba(145, 158, 171, 0.2);
  position: sticky;
  top: 80px;
}

@media (max-width: 991.98px) {
  #shop-sidebar {
    overflow-y: auto;
  }
}

@media (max-width: 991px) {
  #shop-sidebar.active {
    transform: translateX(0);
  }
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  border-color: var(--primary-color) !important;
  outline: 0;
  box-shadow: 0 0 0 .0rem rgba(13, 110, 253, .25) !important;
}

.message-text {
  border-radius: 3px !important;
  padding: 3px 10px;
}

/* Ticket */

.ticket-box {
  background-color: #f7f7f7;
  display: flex;
  border-radius: 0.25rem;
}

.ticket-box p {
  color: #999;
  font-size: 0.75rem;
}

.ticket-start {
  padding: 1.5rem;
  text-align: center;
}

.ticket-amount {
  font-weight: 700;
  font-size: 1.3rem;
  white-space: nowrap;
  margin-block-end: 0.3rem;
}

.ticket-border {
  border-inline-start: 2px dashed #fff;
  position: relative;
}

.ticket-end {
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 0.5rem;
}

.ticket-end h6 {
  font-size: 0.85rem;
}

.ticket-border {
  border-inline-start: 2px dashed #fff;
  position: relative;
}

.ticket-end button {
  outline: 1px dashed var(--primary-color);
  color: var(--primary-color);
  border: none;
  font-weight: 700;
  background-color: rgba(var(--primary-color), 0.1);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-block-end: 0.5rem;
}

.ticket-border::after,
.ticket-border::before {
  --size: 1rem;
  inline-size: var(--size);
  block-size: var(--size);
  inset-inline-start: -1px;
  inset-block-start: calc(var(--size) / -2);
  transform: translateX(-50%);
  background-color: #fff;
  content: "";
  position: absolute;
  border-radius: var(--size);
}

.ticket-border::before {
  inset-block-start: auto;
  inset-block-end: calc(var(--size) / -2);
}


/* shopping card */
.__card {
  background: #ffffff;
  border: 1px solid rgba(27, 127, 237, 0.1);
  box-shadow: 0px 0px 2px rgba(0, 113, 220, 0.15);
  border-radius: 10px;
}

.donate-now input[type="radio"]:checked+label,
.Checked+label {
  background: var(--primary-color) !important;
}

.donate-now input[type="radio"]:checked+label,
.Checked+label {
  border-radius: 5px;
  padding: 3px 7px;
  color: white !important;
}

.qty_input {
  width: 50px;
  background-color: #f4f9fe;
  border: 1px solid #d5e8fc;
  border-radius: 5px;
  text-align: center;
  height: 30px;
}